:root {
  --dark-background: #222831;
  --medium-dark-subback: #393e46;
  --dark-grey: #484c52;
  --great-grey: #73757a;
  --googas-orange: #fe6600;
  --weird-white: #f4f4f4;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-background);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 300;
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
}

header {
  background-color: var(--just-white);
}

.header-container {
  display: grid;
  grid-template-columns: 1.08fr 2.92fr 1fr;
  padding: 15px;
  max-width: 1024px;
  margin: 0 auto;
}

.hero__logo img {
  max-height: 5rem;
}
.hero a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--dark-background);
}

.nav-container {
  margin: 0 70px;
  display: flex;
  align-items: center;
}
.nav-container ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.nav-container li {
  list-style: none;
  margin: 0 20px;
}
.nav-container a, .nav-container i {
  text-decoration: none;
  color: var(--dark-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

.user-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-box__imgContainer {
  margin: 0 10px;
}
.user-box__imgContainer img {
  max-height: 2rem;
}
.user-box a {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  color: var(--dark-background);
  text-decoration: none;
}
.user-box i {
  margin-left: 10px;
}

body {
  color: var(--just-white);
}

main {
  box-shadow: 0px 0px 9px 0px #000000;
  padding: 50px 0;
  height: auto;
}

.main-container {
  padding-right: 50px;
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.player-info {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  justify-items: center;
  margin-bottom: 20px;
}
.player-info__name {
  justify-self: flex-start;
  padding-left: 20px;
}

.info__seen {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}
.info__seen h3 {
  color: var(--great-grey);
}
.info__friendship {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendship-button {
  display: flex;
  background-color: #3f51b5;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.friendship-button .fa-plus-square {
  margin-right: 10px;
  font-size: 1.4rem;
}

.player-profile {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  justify-items: center;
  margin-top: 30px;
}
.player-profile__avatar figure {
  display: flex;
  justify-content: center;
}
.player-profile__avatar img {
  width: 150px;
}
.player-profile__relations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.player-profile__stats div {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid var(--medium-dark-subback); */
  border-radius: 5px;
  background-color: var(--googas-orange);
  margin: 5px;
  padding: 15px;
  color: var(--just-white);
  box-shadow: 0px 0px 14px 4px #393e46;
}
.player-profile__stats h4 {
  font-weight: bold;
  font-size: 1.8rem;
}
.player-profile__stats p {
  margin-left: 20px;
  margin-top: 5px;
}

.cartel {
  display: grid;
  grid-template-rows: 0.5fr 3.5fr;
  margin: 0 25px;
}
.cartel figure {
  height: 70px;
}
.cartel__grilla {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 6px;
}
.cartel__grilla img {
  width: 38px;
}

/* SPECIFIC INFO */
.specific-info-container {
  background-color: var(--medium-dark-subback);
  padding: 50px;
  margin-top: 20px;
}

footer {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  height: auto;
  max-height: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer__contact {
  display: flex;
  justify-content: space-around;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.table-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 40px;
  background-color: var(--medium-dark-modified);
  box-shadow: 0 0 20px 3px black;
  border-radius: 10px;
}

.score-type-bar, .score-type--competitors {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr repeat(2, 1fr);
  justify-items: center;
}

.score-type-bar {
  background-color: var(--just-white);
  color: var(--dark-background);
  border-radius: 10px;
}
.score-type-bar div {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}
.score-type-bar div i {
  margin-right: 10px;
  font-size: 1.6rem;
  margin-top: 4px;
}

.score-type--player, .column--player-name {
  justify-self: left;
}

.score-type--competitors {
  padding-top: 0;
}

.score-column {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.column--elo {
  justify-content: left;
}
.column--elo h4 {
  justify-self: right;
}

.fa-crown {
  position: relative;
  left: 65px;
  bottom: 2px;
  font-size: 1.2rem;
}

.crown1 {
  color: #ffbf00;
}

.crown2 {
  color: #e3e4e5a6;
}

.crown3 {
  color: #ff800094;
}