* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --dark-background: #222831;
  --medium-dark-subback: #393e46;
  --dark-grey: #484c52;
  --great-grey: #73757a;
  --googas-orange: #fe6600;
  --weird-white: #f4f4f4;
  --just-white: #fff;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-background);
}


h1 {
  font-size: 3.5rem;
}
h2 {  
  font-size: 3rem;
}
h3 {
  font-size:2rem;
}
h4 {
  font-size: 1.6rem;
  font-weight: 300;
}
h5 {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
}

header {
  background-color: var(--just-white);  
}

.header-container {
  display: grid;
  grid-template-columns: 1.08fr 2.92fr 1fr;
  padding: 15px;
  max-width: 1024px;
  margin: 0 auto;
}

.hero--logo img {
  max-height: 5rem;
}
.hero a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--dark-background);
}
.nav-container {
  margin:0 70px;
  display: flex;
  align-items: center;
}
.nav-container ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.nav-container li {
  list-style: none;
  margin: 0 20px;  
}
.nav-container a, .nav-container i {
  text-decoration: none;
  color: var(--dark-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

.user-box {  
  display: flex;
  align-items: center;
  justify-content: center;
}
.user--imgContainer {
  margin: 0 10px;
}
.user--imgContainer img{
  max-height: 2rem;
}
.user-box a {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  color: var(--dark-background);
  text-decoration: none;
}

.user-box i {
  margin-left: 10px;  
}


body {
  color: var(--just-white);
}
main {  
  -webkit-box-shadow: 0px 0px 9px 0px #000000; 
  box-shadow: 0px 0px 9px 0px #000000;
  padding: 50px 0;
  height: auto;
}

.main-container {
  padding-right: 50px;
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.player-info {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  justify-items: center;
  margin-bottom: 20px;
}

.info--name {
  justify-self: flex-start;
  padding-left: 20px;
}

.info--seen {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}
.info--seen h3 {
  color: var(--great-grey);
}
.info--friendship {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friendship-button {
  display: flex;
  background-color: #3f51b5;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.friendship-button .fa-plus-square {
  margin-right: 10px;
  font-size: 1.4rem;
}



.player-profile {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  justify-items: center;
  margin-top: 30px;
}

.profile--avatar figure {
  display: flex;
  justify-content: center;
}
.profile--avatar img {
  width: 150px;
}

.profile-relations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.cartel {
  display: grid;
  grid-template-rows: 0.5fr 3.5fr;
  margin: 0 25px;
}
.cartel figure {
  height: 70px;
}

.cartel--grilla {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);  
  gap: 6px;
}

.cartel--grilla img {
  width: 38px;
}

.profile--stats div {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid var(--medium-dark-subback); */
  border-radius: 5px;
  background-color: var(--googas-orange);
  margin: 5px;
  padding: 15px;
  color: var(--just-white);
  box-shadow: 0px 0px 14px 4px #393e46;
}

.profile--stats h4 {
  font-weight: bold;
  font-size: 1.8rem;
}
.profile--stats p {
  margin-left: 20px;
  margin-top: 5px;
}



/* SPECIFIC INFO */

.specific-info--container{
  background-color: var(--medium-dark-subback);
  padding: 50px;
  margin-top: 20px;
}



/* FOOTER */

footer {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  height: auto;
  max-height: 10px;
}

.footer--contact {
  display: flex;
  justify-content: space-around;
}