extend ../components/template.pug
block content
  main
    div(class="main-container")
      section(class="player-info")
        div(class="info__name")
          h1 Selfie
        div(class="info__seen")
          h3 Seen about five hours on ranked 1
        div(class="info__friendship")
          a(class="friendship-button" href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
            i(class="fas fa-plus-square")
            h5 Add as friend
      hr(color="#393e46")
      section(class="player-profile")
        div(class="player-profile__avatar")
          figure
            img(src="../../assets/imgs/selfie-comprimida.png" alt="")
        div(class="player-profile__relations")
          div(class="cartel")
            h3 Kills
            figure(class="cartel__grilla")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
          div(class="cartel")
            h3 Deaths
            figure(class="cartel__grilla")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
          div(class="cartel")
            h3 Friends
            figure(class="cartel__grilla")
              img(src="../../assets/imgs/darubeat-comprimido.png" alt="foto del darubeat")
              img(src="../../assets/imgs/hulm-comprimido.png" alt="foto de la varga")
              img(src="../../assets/imgs/elrichmc-comprimido.png" alt="foto del rich")
        div(class="player-profile__stats")
          div
            h4 5.3
            p kd ratio <br>
          div
            h4 5.6
            p kk ratio <br>
          div
            h4 1256
            p server joins <br>
          div
            h4 34.2
            p days played <br>
          div
            h4 1340
            p raindrops <br>
      //- section(class="specific-info-container") box donde iban los plenos y las infractions
      div(class="container position-relative specific-info-container")
        button(class="btn btn-warning info-button" type="button" data-bs-toggle="collapse" data-bs-target="#trophy-case" aria-expanded="false" aria-controls="infractions trophy-case") Trophy Case
        button(class="btn btn-warning info-button" type="button" data-bs-toggle="collapse" data-bs-target="#infractions" aria-expanded="false" aria-controls="infractions trophy-case") Infractions
        div(class="collapse multi-collapse" id="trophy-case")          
          div(class="card card-body bg-secondary rounded")
            h4 Trophy case
            p Es un capo
        div(class="collapse multi-collapse" id="infractions")
          div(class="card card-body bg-secondary")
            h4 Infractions
            p Es un pillin