footer
    div(class="footer__copyright")
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p © Googas Network
    div(class="footer__contact")
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Revisions
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Staff
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Appeal
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Report
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Punishments
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Rules
      a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
        p Contact
