header(class="header")
    section(class="header-container")
      div(class="hero")
        a(href="")
          figure(class="hero__logo")
            img(src="../../assets/logos/logo-1-comprimida.png" alt="Googa's Logo")
          h3 Googas Network
        
      div(class="nav-container")
        nav
          ul
            li
              a(href="")
                i(class="fas fa-play")
                p Play
            li
              a(href="")
                i(class="fas fa-comments")
                p Discord
            li
              a(href="")
                i(class="fas fa-trophy")
                p League
            li
              a(href="")
                i(class="fas fa-map-signs")
                p Winners
            li
              a(href="")
                i(class="fas fa-shopping-cart")
                p Shop
      div(class="user-box")
        section
          a(href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT")
            figure(class="user-box__imgContainer")
              img(src="../../assets/imgs/darubeat-comprimido.png" alt="foto del darubeat")          
            h4 Darubeat
            i(class="fas fa-sort-down")
