.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.table-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 40px; 
  background-color: var(--medium-dark-modified);
  box-shadow: 0 0 20px 3px black;;
  border-radius: 10px;
}
.score-type-bar, .score-type--competitors {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr repeat(2, 1fr);  
  justify-items: center;
}
.score-type-bar {
  background-color: var(--just-white);
  color: var(--dark-background);
  border-radius: 10px;
  div {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;  
  }
  div i {
    margin-right: 10px;
    font-size: 1.6rem;
    margin-top: 4px;
  }
}

.score-type--player, .column--player-name {
  justify-self: left;
}
.score-type--competitors {
  padding-top: 0;
}
.score-column {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.column--elo {
  justify-content: left;
  h4{
    justify-self: right;
  }
}

.fa-crown{
  position: relative;
  left: 65px;
  bottom: 2px;
  font-size: 1.2rem;
}

.crown1 {
  color: #ffbf00;
}
.crown2 {
  color: #e3e4e5a6;
}
.crown3 {
  color: #ff800094;
}