<header>
<section class="header-container">
<div class="hero">
<a href="">
<figure class="hero--logo">
<img src="./assets/logos/logo-1-comprimida.png" alt="Googa's Logo">
</figure>
<h3>Googas Network</h3>
</a>
</div>
<div class="nav-container">
<nav>
<ul>
<li class="nav--play">
<a href=""><i class="fas fa-play"></i> Play</a>
</li>
<li class="nav--forum">
<a href=""><i class="fas fa-comments"></i> Forum</a>
</li>
<li class="nav--league">
<a href=""><i class="fas fa-trophy"></i> League</a>
</li>
<li class="nav--maps">
<a href=""><i class="fas fa-map-signs"></i> Maps</a>
</li>
<li class="nav--shop">
<a href=""><i class="fas fa-shopping-cart"></i> Shop</a>
</li>
</ul>
</nav>
</div>
<div class="user-box">
<section>
<a href="https://www.youtube.com/watch?v=pvjVtPokKBA&ab_channel=PERUVIANSHIT">
<figure class="user--imgContainer">
<img src="./assets/imgs/darubeat-comprimido.png" alt="foto del darubeat">
</figure>          
<h4>Darubeat</h4>
<i class="fas fa-sort-down"></i>
</a>
</section>
</div>
</section>