<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The best server">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/leaderboard-style.css">
    <link rel="icon" href="../../assets/logos/favicon-googas.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b62dbf7ac.js" crossorigin="anonymous"></script>
    <title>Googas Network</title>
  </head>
  <body>
    <header>
      <section class="header-container">
        <div class="hero"><a href="">
            <figure class="hero__logo"><img src="../../assets/logos/logo-1-comprimida.png" alt="Googa's Logo"></figure>
            <h3>Googas Network</h3></a></div>
        <div class="nav-container">
          <nav>
            <ul>
              <li><a href=""><i class="fas fa-play"></i>
                  <p>Play</p></a></li>
              <li><a href=""><i class="fas fa-comments"></i>
                  <p>Discord</p></a></li>
              <li><a href=""><i class="fas fa-trophy"></i>
                  <p>League</p></a></li>
              <li><a href=""><i class="fas fa-map-signs"></i>
                  <p>Winners</p></a></li>
              <li><a href=""><i class="fas fa-shopping-cart"></i>
                  <p>Shop</p></a></li>
            </ul>
          </nav>
        </div>
        <div class="user-box">
          <section><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
              <figure class="user-box__imgContainer"><img src="../../assets/imgs/darubeat-comprimido.png" alt="foto del darubeat"></figure>
              <h4>Darubeat</h4><i class="fas fa-sort-down"></i></a></section>
        </div>
      </section>
    </header>
    <footer>
      <div class="footer__copyright"><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>© Googas Network</p></a></div>
      <div class="footer__contact"><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Revisions</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Staff</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Appeal</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Report</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Punishments</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Rules</p></a><a href="https://www.youtube.com/watch?v=pvjVtPokKBA&amp;ab_channel=PERUVIANSHIT">
          <p>Contact</p></a></div>
    </footer>
  </body>
</html>